@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: local('Material Icons'),
	local('MaterialIcons-Regular'),
	url(../fonts/MaterialIcons-Regular.woff2) format('woff2'),
	url(../fonts/MaterialIcons-Regular.woff) format('woff'),
	url(../fonts/MaterialIcons-Regular.ttf) format('truetype');
}
* {
	box-sizing: border-box;
	font-family: 'Montserrat', 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 300;
}
html, body {
	padding: 0;
	margin: 0;
}
.olored-body {
	background-color: #f8f8f8;
}
.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;  /* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	font-feature-settings: 'liga';
}

/* HEADER MENU STARTS */
.navbar-fixed-top {
	background-color: rgb(0, 0, 0, 1) !important;
}
.top-header {
	position: absolute;
	z-index: 1;
	width: 100%;
}
.top-header .navbar-brand {
	font-size: 20px;
	font-weight: 500;
	color: white;
}
.top-header #myNavbar {
	padding-right: 20px;
}
.top-header .navbar-nav li a {
	font-size: 13px;
	font-weight: 500;
	color: white;
	text-transform: uppercase;
	border-bottom: 2px solid transparent;
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 5px;
	transition: 0.3s;
}
.top-header .navbar-nav li {
	margin-right: 40px;
}
.top-header .navbar-nav li:last-of-type {
	margin-right: 0px;
}
.top-header .navbar-nav li a:hover {
	color: #fce38a;
	background-color: transparent;
	border-bottom: 2px solid #fce38a;
}
.top-header .navbar-nav .active a, .top-header .navbar-nav .active a:focus {
	border-bottom: 2px solid #fce38a;
	color: #fce38a;
	background-color: transparent;
}
.top-header .icon-bar {
	background-color: white;
}
/* HEADER MENU ENDS */

/* CAROUSEL STARTS */
#top-carousel {
	overflow: hidden;
}
#top-carousel .carousel-inner {
	height: 100%;
	max-height: 1000px;
	background-color: #474747;
}
#top-carousel .carousel-inner .item {
	width: 100%;
	height: 100%;
	max-height: 100vh;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	-webkit-transition: opacity 1s, transform 5s linear 0s;
	-moz-transition: opacity 1s, transform 5s linear 0s;
	-ms-transition: opacity 1s, transform 5s linear 0s;
	-o-transition: opacity 1s, transform 5s linear 0s;
	transition: opacity 1s, transform 5s linear 0s;
}
#top-carousel .carousel-inner .item .carousel-caption {
	position: absolute;
	display: block;
	top: 22vw;
	bottom: auto;
	padding-bottom: 0px;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	left: 25%;
	right: 25%;
	z-index: 1;
}
#top-carousel .carousel-inner .item .carousel-caption > h1,
#top-carousel .carousel-inner .item .carousel-caption > .h1 {
	font-family: 'Kaushan Script', sans-serif;
	display: inline-block;
	width: 100%;
	position: relative;
	text-align: center;
	line-height: 36px;
	letter-spacing: 0.9px;
	font-size: 3vw;
	font-weight: normal;
	padding-bottom: 15px;
	margin-bottom: 20px;
	color: #ffffff;
}
#top-carousel .carousel-inner .item .carousel-caption > p,
#top-carousel .carousel-inner .item .carousel-caption > span {
	font-family: 'Montserrat', sans-serif;
	display: inline-block;
	width: 100%;
	line-height: 0.8;
	text-align: center;
	padding-top: 0;
	font-size: 6vw;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: -2px;
}
#top-carousel .carousel-inner .item .carousel-caption > .btn,
#top-carousel .carousel-inner .item .carousel-caption > button {
	display: inline-block;
	margin-top: 2vw;
	color: #ffffff;
	background: none;
	border: 2px solid #ffffff;
	border-radius: 0;
}
#top-carousel .carousel-inner .item .carousel-caption > .divider {
	width: 50px;
	height: 2px;
	background-color: white;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 5px;
}
#top-carousel .carousel-inner .item,
#top-carousel .carousel-inner .active.left,
#top-carousel .carousel-inner .active.right {
	opacity: 0;
}
#top-carousel .carousel-inner .active,
#top-carousel .carousel-inner .next.left,
#top-carousel .carousel-inner .prev.right {
	opacity: 1;
}
#top-carousel .carousel-inner .next,
#top-carousel .carousel-inner .prev,
#top-carousel .carousel-inner .active.left,
#top-carousel .carousel-inner .active.right {
	left: 0;
	bottom: 0;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
#top-carousel .carousel-inner:before {
	position: absolute;
	display: block;
	top: 50%;
	left: 50%;
	content: "";
	margin-top: 0px;
	margin-left: -20px;
	width: 40px;
	height: 40px;
	border-top: 2px solid #ffffff;
	border-left: 2px solid #ffffff;
	border-bottom: 2px solid #ffffff;
	border-right: 2px solid transparent;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-o-border-radius: 20px;
	border-radius: 20px;
	-webkit-animation: spinner 1.6s linear infinite;
	-moz-animation: spinner 1.6s linear infinite;
	animation: spinner 1.6s linear infinite;
	z-index: 0;
}
@-moz-keyframes spinner {
	100% {
		-moz-transform: rotate(360deg);
	}
}
@-webkit-keyframes spinner {
	100% {
		-webkit-transform: rotate(360deg);
	}
}
@keyframes spinner {
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
#top-carousel .carousel-indicators li {
	position: relative;
	display: inline-block;
	width: calc(25% - 20px);
	height: 2px;
	padding-left: 3px;
	padding-right: 3px;
	background: rgba(255, 255, 255, 0.4);
	border: none;
	margin-top: 1px;
	margin-bottom: 1px;
	margin-left: 10px;
	margin-right: 10px;
}
#top-carousel .carousel-indicators li + li {
	margin-left: 10px;
	margin-right: 10px;
}
#top-carousel .carousel-indicators li.active {
	width: calc(25% - 20px);
	overflow: hidden;
	background: #ffffff;
	margin-left: 10px;
	margin-right: 10px;
}
#top-carousel .carousel-indicators li.active::before {
	position: absolute;
	display: inline-block;
	height: 2px;
	background: #f38181;
	content: "";
	top: 0;
	left: 0;
	right: 100%;
	bottom: 0;
	-webkit-animation: progress 5s linear 0s;
	-moz-animation: progress 5s linear 0s;
	-ms-animation: progress 5s linear 0s;
	-o-animation: progress 5s linear 0s;
	animation: progress 5s linear 0s;
}
#top-carousel .carousel-indicators li.active ~ li {
	background: rgba(255, 255, 255, 0.4);
}
#top-carousel .carousel-indicators li {
	border-radius: 0;
}
@-moz-keyframes progress {
	100% {
		right: 0px;
	}
}
@-webkit-keyframes progress {
	100% {
		right: 0px;
	}
}
@-ms-keyframes progress {
	100% {
		right: 0px;
	}
}
@-o-keyframes progress {
	100% {
		right: 0px;
	}
}
@keyframes progress {
	100% {
		right: 0px;
	}
}
/* CAROUSEL ENDS */

/* CAROUSEL ALTERNATIVE STARTS */
#carousel-alternative {
	height: 100%;
	max-height: 100vh;
	min-height: 100vh;
	background: url('../images/slider/slider_0.jpg') no-repeat;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
}
.carousel-alternative-caption {
	width: 100%;
	margin: 0;
	padding: 0;
}
.carousel-alternative-caption h1 {
	color: white;
	text-shadow: 1px 1px 1px gray;
	font-family: 'Kaushan Script', sans-serif;
}
.carousel-alternative-caption p {
	color: white;
	text-shadow: 1px 1px 1px gray;
	font-family: 'Montserrat', sans-serif;
	display: inline-block;
	width: 100%;
	line-height: 0.8;
	text-align: center;
	padding-top: 20px;
	font-size: 10vw;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: -2px;
}
.carousel-alternative-caption .btn {
	color: white;
	display: inline-block;
	margin-top: 3vw;
	color: #ffffff;
	background: none;
	border: 2px solid #ffffff;
	border-radius: 0;
}
/* CAROUSEL ALTERNATIVE ENDS */

/* SECTION COMMONS STARTS */
.section {
	padding: 50px 50px 20px 50px;
}
.section-slogan {
	font-family: 'Kaushan Script', sans-serif;
	font-size: 20px;
	padding: 0;
	margin: 0;
}
.section-title {
	font-family: 'Montserrat', sans-serif;
	font-size: 22px;
	font-weight: 700;
	text-transform: uppercase;
	padding: 0;
	margin: 5px 0 0 0;
}
.section-divider {
	height: 2px;
	width: 50px;
	background-color: #f38181;
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 30px;
}
.section-content {
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	font-weight: 500;
}
.section-full-divider {
	width: 100%;
	height: 1px;
	background-color: rgba(1, 1, 1, 0.05);
	margin: 20px 0 30px 0;
}
/* SECTION COMMONS EDNS */

/* ABOUR US STARTS */
.hover-cards {
	padding: 50px 0;
	text-align: center;
}
.hover-cards img {
	width: 100%;
	/*max-width: 350px;*/
}
.hover-cards .card-image {
	overflow: hidden;
	padding: 0 10px;
	cursor: pointer;
	text-align: center;
}
.grad-bg {
	background: rgba(236,212,134,1);
	background: -moz-linear-gradient(45deg, rgba(236,212,134,1) 0%, rgba(228,127,125,0.8) 100%);
	background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(236,212,134,1)), color-stop(100%, rgba(228,127,125,0.8)));
	background: -webkit-linear-gradient(45deg, rgba(236,212,134,1) 0%, rgba(228,127,125,0.8) 100%);
	background: -o-linear-gradient(45deg, rgba(236,212,134,1) 0%, rgba(228,127,125,0.8) 100%);
	background: -ms-linear-gradient(45deg, rgba(236,212,134,1) 0%, rgba(228,127,125,0.8) 100%);
	background: linear-gradient(45deg, rgba(236,212,134,1) 0%, rgba(228,127,125,0.8) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ecd486', endColorstr='#e47f7d', GradientType=1 );
}
.hidden-card {
	position: absolute;
	left: 10px;
	/*display: flex;*/
  	/*align-items: center;*/
  	text-align: center;
	top: -100%;
	height: 100%;
	width: calc(100% - 20px);
	transition: 0.4s;
	margin: 0;
	opacity: 1;
}
.border {
	border: thin solid black;
}
.hidden-card p {
	color: white;
	font-size: 15px;
	font-weight: 700;
	padding: 0;
	margin: 0;
	line-height: 0.9;
	width: 100%;
}
.hidden-card i {
	font-size: 34px;
	color: white;
	width: 100%;
}
.card-image:hover .hidden-card {
	top: 0;
}
/* ABOUR US ENDS */

/* STATISTCS STARTS */
#statistics {
	background-color: #95e1d3
}
#statistics .stats-child {
	padding: 25px 0 30px 0;
	border-left: thin solid rgba(255, 255, 255, 0.3);
}
#statistics .stats-child:last-of-type {
	border-right: thin solid rgba(255, 255, 255, 0.3);
}
#statistics .stats-child .stats-num {
	font-size: 50px;
	font-weight: 700;
	color: white;
	line-height: 1;
}
#statistics .stats-child .stats-title {
	font-size: 11px;
	font-weight: 300;
	color: white;
	text-transform: uppercase;
	line-height: 1;
}
/* STATISTCS ENDS */

/* SERVICES STARTS */
#services {
	padding-bottom: 50px;
}
#services i {
	font-size: 30px;
	color: lightgray;
	line-height: 1;
}
.services-child-title {
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 500;
	padding-top: 5px;
}
.services-child-content {
	font-size: 11px;
	font-weight: 300;
	color: gray;
}
.services-child-subtitle {
	font-size: 11px;
	font-weight: 300;
	color: gray;
	font-style: italic;
}
.services-child-divider {
	width: 50px;
	height: 2px;
	background-color: #f38181;
	margin-bottom: 10px;
}
/* SERVICES ENDS */

/* DESIGN STARTS */
#design {
	background: url('../images/sections/u_design.jpg') no-repeat;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding-bottom: 0;
}
#design {
	margin: 0;
	padding: 0;
	padding-top: 50px;
}
#design .resp-view .tab-view {
	width: 100%;
	max-width: 400px;
	margin-right: -5vw;
}
#design .resp-view .phone-view {
	width: 100%;
	max-width: 200px;
	margin-left: -5vw;
	margin-bottom: -15%;
}
/* DESIGN ENDS */

/* WHAT WE DO STARTS */
#we-do {
	padding: 50px 0;
}
#we-do .we-do-content {
	padding: 30px 30px 10px 30px;
	height: 350px;
}
#we-do .we-do-content .section-slide {
	background: url('../images/sections/what_we_do.png') no-repeat;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 100%;
}
#we-do-accordion {
	position: relative;
}
#we-do-accordion .accordion-content {
	height: 180px;
	max-height: 180px;
	min-height: 180px;
}
#we-do-accordion .accordion-content p {
	font-size: 12px;
	font-style: italic;
	font-weight: 500;
	padding: 0;
	margin: 0;
}
#we-do-accordion .panel-title a span {
	font-size: 13px;
	text-transform: uppercase;
	font-weight: 500;
	padding-left: 35px;
}
#we-do-accordion .panel-heading {
	background-color: white;
}
#we-do-accordion .panel-default {
	border-radius: 0;
	box-shadow: none;
}
#we-do-accordion .material-icons {
	color: lightgray;
	font-size: 29px;
	position: absolute;
	margin-top: -5px;
}
/* WHAT WE DO ENDS */


/* REVIEW STARTS */
#review {
	background-color: #f8f8f8;
	padding: 30px 0 0 0;
}
#review .review-container {
	position: relative;
}
#review .container {
	overflow: hidden;
}
.review-image {
	width: 100%;
	max-width: 120px;
}
.review-comment {
	padding-right: 70px;
}
#reviews { 
	vertical-align: top; 
	width: 100%; 
	min-width: 100%;
	max-width: 100%; 
	height: 100%;
	min-height: 150px;
	/*overflow: hidden;*/
}
#reviews div[id*='txt'] { 
	position: absolute; 
	left: 0; 
	top: 0; 
	width: 100%; 
	left: 100%;
	padding-bottom: 100%;
}
#reviews div[id*='txt'] p { 
	font-family: 'Montserrat', sans-serif;
	font-size: 13px; 
	font-weight: 300;
	font-style: italic;
	color: gray;
}
#reviews div[id*='txt'] span { 
	font-family: 'Kaushan Script', sans-serif;
	font-size: 18px; 
	color: black;
}
#reviews div#txt_01 {-webkit-animation: autoplay0 24s infinite 0s; animation: autoplay0 24s infinite 0s;}
#reviews div#txt_02 {-webkit-animation: autoplay0 24s infinite 6s; animation: autoplay0 24s infinite 6s;}
#reviews div#txt_03 {-webkit-animation: autoplay0 24s infinite 12s; animation: autoplay0 24s infinite 12s;}
#reviews div#txt_04 {-webkit-animation: autoplay0 24s infinite 18s; animation: autoplay0 24s infinite 18s;}
#txt_01, #txt_02, #txt_03, #txt_04 {
	vertical-align: top; 
}
@keyframes autoplay0 {
	0% {left:100%}
	10%,25% {left:0;}
	35%,100% {left:-100%}
}
@-webkit-keyframes autoplay0 {
	0% {left:100%}
	10%,25% {left:0;}
	35%,100% {left:-100%}
}
/* REVIEW ENDS */

/* MEET US STARTS */
#meet-us {
	padding-bottom: 0;
}
#meet-us .material-icons {
	display: inline-block;
	width: 35px;
	font-size: 30px;
}
#meet-us .mates {
	padding-top: 10px;
}
#meet-us .mate-name {
	font-size: 15px;
	font-weight: 500;
	display: block;
}
#meet-us .mate-designation {
	font-size: 12px;
	font-weight: 300;
	display: block;
	font-style: italic;
}
#meet-us .share-social img {
	width: 25px;
	margin: 0 5px;
	filter: invert(100%);
	transition: 0.3s;
	z-index: 100;
}
#meet-us .share-social img:hover {
	filter: invert(0%);
}
/* MEET US ENDS */

/* PARTNERS STARTS */
#partners {
	background-color: #f8f8f8;
	padding: 50px 0;
}
#partners .corporate-logo img {
	width: 100%;
	max-width: 60px;
	opacity: 0.6;
}
/* PARTNERS ENDS */

/* OUR WORKS STARTS */
#our-works {
	padding: 50px 0;
	padding-bottom: 0;
	margin: 0;
}
#our-works .section {
	padding: 0;
	padding-top: 30px;
	padding-bottom: 0;
}
#our-works .work-sample {
	margin: 0;
	padding: 0;
}
#our-works .card-title {
	text-transform: uppercase;
}
#our-works .work-sample-cards, #our-works .work-sample-cards .card-image {
	padding: 0;
}
#our-works .work-sample-cards {
	padding-top: 30px;
}
#our-works .hidden-card {
	left: 0;
	width: 100%;
}
/* OUR WORKS ENDS */

/* CLIENTS STARTS */
#clients {
	background: url('../images/sections/people.jpg') no-repeat;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding-bottom: 0;
	margin: 0;
	padding: 50px 0;
}
#clients .client-image {
	height: 100px;
	width: 100px;
	border-radius: 50%;
	float: right;
	overflow: hidden;
}
#clients .client-image img {
	width: 100px;
}
#clients .services-child {
	margin-bottom: 20px;
}
/* CLIENTS ENDS */

/* BLOG STARTS */
#blog {
	padding-bottom: 30px;
}
#blog .blog-showcase {
	padding-top: 10px;
}
#blog .blog-showcase img {
	width: 100%;
	/*max-width: 400px;*/
}
#blog .blog-showcase .blog-date {
	padding: 10px 0;
	width: 70px;
	background-color: #95e1d3;
	position: absolute;
	bottom: 10px;
	margin-left: -10px;
}
#blog .blog-showcase .blog-date-day {
	font-size: 28px;
	font-weight: 700;
	color: white;
	padding: 0;
	margin: 0;
	line-height: 1;
}
#blog .blog-showcase .blog-date-month {
	font-size: 12px;
	font-weight: 300;
	color: white;
	padding: 0;
	margin: 0;
	line-height: 1;
}
#blog .blog-thumb {
	padding: 0;
	margin: 0;
}
#blog .blog-excerpt-con {
	padding: 10px 0;
	margin: 0;
	text-align: left;
}
#blog .blog-excerpt-con .blog-title {
	font-size: 13px;
	text-transform: uppercase;
	font-weight: 500;
}
#blog .blog-excerpt-con .blog-excerpt {
	font-size: 13px;
	color: gray;
}
#blog .blog-excerpt-con .blog-divider {
	height: 1px;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.1);
	margin: 15px 0;
}
#blog .blog-excerpt-con .blog-stat {
	padding: 0;
	padding-top: 10px;
}
#blog .blog-excerpt-con .blog-stat * {
	vertical-align: top;
}
#blog .blog-excerpt-con .blog-stat p, #blog .blog-excerpt-con .blog-stat span {
	line-height: 0;
	font-size: 12px;
	color: lightgray;
}
#blog .blog-excerpt-con .blog-stat i {
	font-size: 15px;
	line-height: 0;
}
/* BLOG ENDS */

/* MAPS STARTS */
.gmnoprint a, .gmnoprint span {
    display: none;
}
.gmnoprint div {
    background: none !important;
}
#location {
	padding: 0;
	margin: 0;
	position: relative;
	cursor: pointer;
}
#location img {
	margin: 0;
	padding: 0;
}
#location .cover {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(255, 255, 255, 0.5);
}
#map {
	width: 100%;
	height: 200px;
}
#location .location-title-container {
	position: absolute;
	top: 50px;
	z-index: 1;
}
#location .section-divider {
	margin-top: 15px;
	margin-bottom: 10px;
}
#location .location-title {
	width: 100%;
	color: #f38181;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	margin: 0;
	padding: 0;
}
/* MAPS ENDS */

/* FOOTER STARTS */
#footer {
	padding: 50px 0;
}
#footer .footer-logo {
	font-size: 25px;
	font-weight: 700;
	color: lightgray;
}
#footer .footer-content {
	font-size: 12px;
	font-weight: 300;
	color: gray;
}
#footer .footer-follower {
	padding-top: 10px;
	font-size: 13px;
	font-weight: 300;
}
#footer .divider {
	width: 100%;
	height: 1px;
	background-color: rgba(1, 1, 1, 0.1);
}
#footer .follow-us * {
	vertical-align: top;
}
#footer .follow-us-title {
	font-size: 12px;
	font-style: italic;
	color: gray;
	padding: 0;
	padding-top: 10px;
	display: inline-block;
}
#footer .follow-us-link {
	display: inline-block;
	padding-top: 10px;
	padding-left: 10px;
}
#footer .follow-us-link img {
	width: 16px;
	margin-right: 5px;
	filter: invert(70%);
	transition: 0.3s;
	cursor: pointer;
}
#footer .follow-us-link img:hover {
	filter: invert(0%);
}

#footer .footer-sb-title {
	font-size: 12px;
	font-weight: 700;
	padding-top: 10px;
}

#footer .more-blog {
	padding: 0;
	padding-bottom: 10px;
}
#footer .more-blog img {
	width: 100%;
	max-width: 100px;
	min-width: 60px;
}
#footer .more-blog .more-blog-excerpt {
	font-size: 12px;
	line-height: 1;
	margin: 0;
	font-weight: 500;
}
#footer .more-blog .more-blog-date {
	font-size: 12px;
	line-height: 1;
	color: lightgray;
	padding: 0;
	margin: 0;
	padding-top: 5px;
	font-weight: 500;
}

.search-container * {
	vertical-align: top;
}
.search-container input[type='text'] {
	width: calc(100% - 120px);
	height: 35px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 13px;
	outline: none;
	margin: 0;
	font-style: italic;
}
.search-container .btn-primary {
	width: 120px;
	height: 35px;
	font-size: 12px;
	outline: none;
	text-transform: uppercase;
	margin: 0;
	border-radius: 0;
	background-color: #95e1d3;
	border: none;
}

#footer .insta-feed {
	border: none;
	overflow: hidden;
	width: 100%;
}
#footer .info-con, #footer .blog-con, #footer .insta-con {
	/*min-height: 300px;*/
}
/* FOOTER ENDS */

/* COPYRIGHT STARTS */
#copyright {
	border-top: thin solid #e5e5e5;
	background-color: white;
	padding: 20px 0;
}
.copyright {
	line-height: 1;
	font-size: 12px;
	padding: 0;
	margin: 0;
	font-weight: 300;
	color: gray;
}
/* COPYRIGHT ENDS */

/* MISC STARTS */
.spacer {
	height: 20px;
}
.back-to-top {
	display: none;
	background-color: rgba(0, 0, 0, 0.3);
	border-radius: 3px;
	cursor: pointer;
	color: white;
	font-size: 40px;
	line-height: 1;
	position: fixed;
	bottom: 10px;
	right: 10px;
	z-index: 2;
	text-shadow: 1px 1px 1px gray;
	transition: 0.3s;
}
.back-to-top:hover {
	background-color: rgba(0, 0, 0, 0.5);
}
/* MISC ENDS */

/* MEDIA QUERIES */
@media (max-width: 992px) {
	#footer .info-con {
		padding-bottom: 20px;
	}
}
@media (max-width: 767px) {
	/* NAVBAR */
	.top-header .navbar-toggle {
		margin-top: 10px;
		padding-right: 10px;
		border: none;
	}
	#myNavbar {
		background-color: rgba(0, 0, 0, 0.4);
		border: none;
	}
	#myNavbar ul li {
		display: block;
		width: 100%;
	}
	#myNavbar ul li a {
		padding: 10px 20px;
		display: block;
		width: 100%;
	}
	.top-header .navbar-nav li a:hover {
		color: #fce38a;
		border-bottom: none;
	}
	.top-header .navbar-nav li:last-of-type {
		margin-right: 40px;
	}
	.top-header .navbar-nav li a:hover {
		color: #fce38a;
		border-bottom: 2px solid transparent;
	}
	.top-header .navbar-nav .active a, .top-header .navbar-nav .active a:focus {
		color: #fce38a;
		border-bottom: 2px solid transparent;
	}
	.top-header .icon-bar {
		background-color: white;
	}
	.hover-cards {
		padding: 80px 0 50px 0;
	}
	.hover-cards .card-image {
		margin-bottom: 20px;
	}
	.hover-cards .card-image:last-of-type {
		margin-bottom: 0;
	}
	#design .resp-view .tab-view {
		width: 100%;
		max-width: 400px;
		margin-right: 0;
	}
	#we-do .section-content {
		margin-top: 20px;
		padding-left: 0;
		padding-right: 0;
	}
	#our-works .hover-cards .card-image {
		margin-bottom: 0;
	}
	#reviews { 
		min-height: 200px;
	}
}
/* MEDIA QUERY ENDS */

/* BOOTSTRAP EXTENSION */
.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.col-xs-5ths {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}